<div class="container">
    <div class="container my-3" *ngIf="fileResult">
        {{tableGroup.value|json}}
        <dexih-table [data]="fileResult[0].contents" [heading]="fileResult[0].name">
        </dexih-table>
        <div ngbDropdown *ngFor="let key of fileResult[0].headers"> 
            <button class="btn btn-outline-primary" id="{{key}}" ngbDropdownToggle>{{tableGroup.value[key]}}</button>
            <div ngbDropdownMenu aria-labelledby="key">
                <button class="dropdown-item" (click)="updateFormGroup(key, 'Text')">Text</button>
                <button class="dropdown-item" (click)="updateFormGroup(key, 'Number')">Number</button>
                <button class="dropdown-item" (click)="updateFormGroup(key, 'Date')">Date</button>
                <button class="dropdown-item" (click)="updateFormGroup(key, 'DTime')">Date and Time</button>
            </div>                
            <div [ngbCollapse]="tableGroup.value[key]!=='Number'">
                Maximum Length of Digits <input type="number" [min]=1 [max]=31 [step]=1 [(ngModel)]="tableGroup.value[key+'var1']"/>
                Number of Decimal Places <input type="number" [min]=0 [max]=31 [step]=1 [(ngModel)]="tableGroup.value[key+'var2']"/>
            </div>
            <div [ngbCollapse]="tableGroup.value[key]!=='Date'">
                Date Format (M for Month, D for Day, Y for Year. Ex. MM-DD-YYYY)
                <input type="text" pattern="[DMY/-]" [min]=6 [max]=11 [(ngModel)]="tableGroup.value[key+'var1']"/>
            </div>
            <div [ngbCollapse]="tableGroup.value[key]!=='DTime'">
                DateTime Format (M for Month, D for Day, Y for Year, H for Hour, N for Minute, S for Second. 
                Ex. MM-DD-YYYY HH:NN:SS)
                <input type="text" pattern="[DHMNSY :/-]" [min]=12 [max]=2 [(ngModel)]="tableGroup.value[key+'var1']"/>
            </div>
        </div>
    </div>
    <div class="form-group" [formGroup]="credentialsGroup">
        {{uploadResult}}
        <label class="btn btn-primary">
            Upload CSV or INI File <input type="file" id="file" (change)="submitFile($event.target.files)" hidden>
        </label>
        <div *ngIf="fileResult">
            <div class="row">
                <div class="input-group mb-3 col-5">
                    <div class="input-group-prepend">
                        <span class="input-group-text">DB Address</span>
                    </div>
                    <input type="text" class="form-control"
                    formControlName="url"/>
                </div>
            </div>
            <div class="row">
                <div class="input-group mb-3 col-5">
                    <div class="input-group-prepend">
                        <span class="input-group-text">DB Username/Schema</span>
                    </div>
                    <input type="text" class="form-control"
                    formControlName="username"/>
                </div>
            </div>
            <div class="row">
                <div class="input-group mb-3 col-5">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Password</span>
                    </div>
                    <input type="password" class="form-control"
                    formControlName="password" />
                </div>
            </div>
        </div>
        <div>
            <button *ngIf="fileResult" class="btn btn-success" (click)="confirmUpload()">Confirm Upload</button>
            <button class="btn btn-dark" routerLink="/">Go Back</button>
        </div>
    </div>
</div>
