<div class="container my-3">
    <p>Enter the details of the database you would like to view</p>
    <form (ngSubmit)="getDatabase()" [formGroup]="credentialsGroup">
        <div class="row">
            <div class="input-group mb-3 col-5">
                <div class="input-group-prepend">
                    <span class="input-group-text">DB Address</span>
                </div>
                <input type="text" class="form-control"
                formControlName="url"/>
            </div>
        </div>
        <div class="row">
            <div class="input-group mb-3 col-5">
                <div class="input-group-prepend">
                    <span class="input-group-text">DB Username/Schema</span>
                </div>
                <input type="text" class="form-control"
                formControlName="username"/>
            </div>
        </div>
        <div class="row">
            <div class="input-group mb-3 col-5">
                <div class="input-group-prepend">
                    <span class="input-group-text">Password</span>
                </div>
                <input type="password" class="form-control"
                formControlName="password" />
            </div>
        </div>
        <input type="submit"/>
    </form>
</div>
<div class="container">
    <p>Or create a new table</p>
    <button class="btn btn-outline-primary" routerLink="/upload" ngbbutton>To Upload</button>
</div>
<div class="list-group">
    <div class="list-group-item flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">DB Address Requirements</h5>
      </div>
      <ul class="list-group">
        <li class="list-group-item">Cannot start with dot(.), underscore(_), or dash(-).</li>
        <li class="list-group-item">Must contain 3 sections: address, port, and SID or service name.</li>
        <li class="list-group-item">Address section can only contain alphanumeric characters, dot(.), underscore(_), and dash(-).</li>
        <li class="list-group-item">Address must end with a colon (:).</li>
        <li class="list-group-item">Port section can only contain numeric characters.</li>
        <li class="list-group-item">Port must end with a colon(:) if using SID or slash(/) if using service name.</li>
        <li class="list-group-item">SID/Service name section can only contain alphanumeric characters, dot(.), underscore(_), and dash(-).</li>
        <li class="list-group-item">Maximum length is 100 characters.</li>
        <li class="list-group-item">Valid examples:<br/>localhost:8080:xe<br/>rds-sample-db2.cg29ws2p7rim.us-west-2.rds.amazonaws.com:1521/ORCL</li>
      </ul>
    </div>
    <div class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">DB Username/Schema Requirements</h5>
        </div>
        <ul class="list-group">
          <li class="list-group-item">Cannot start with dot(.) or underscore(_).</li>
          <li class="list-group-item">Can can only contain alphanumeric characters, dot(.), and underscore(_).</li>
          <li class="list-group-item">Maximum length is 25 characters.</li>
        </ul>
    </div>
    <div class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Password Requirements</h5>
        </div>
        <ul class="list-group">
            <li class="list-group-item">Maximum length is 25 characters.</li>
        </ul>
    </div>
  </div>

